body{
    background-color: lightgray;
}
*{
    box-sizing: border-box;
}

#header{
    background-color: lightgray;
    margin-bottom: 25px;
    padding: 5px;
    font-size: 48px;
}
ul {
    list-style-type: none;
    float: right;
    height: 100%;
    margin: 0;
    padding: 0;
} 
li {
    float: left;
}  
li a {
    display: block;
    text-align: center;
    padding: 5px;
    margin-left: 5px;
    text-decoration: none;
    font-size: 32px;
    color: black;
} 
li a.active {
    background-color: silver;
    border: 2px dotted black;
}
li a:hover {
    background-color: #111;
    color: white;
}

.info{
    margin-top: 100px;
    font-size: 24px;
    text-align: center;
}
.details{
    font-size: 20px;
    text-align: center;
}