body{
    background-color: lightgray;
}
*{
    box-sizing: border-box;
}


/* 1920 x 1080 */
#header{
    background-color: lightgray;
    margin-bottom: 25px;
    padding: 5px;
    font-size: 48px;
}
ul {
    list-style-type: none;
    float: right;
    height: 100%;
    margin: 0;
    padding: 0;
} 
li {
    float: left;
}  
li a {
    display: block;
    text-align: center;
    padding: 5px;
    margin-left: 5px;
    text-decoration: none;
    font-size: 32px;
    color: black;
} 
li a.active {
    background-color: silver;
    border: 2px dotted black;
}
li a:hover {
    background-color: #111;
    color: white;
}
#summary{
    padding: 5px;
    margin-top: 10px;
    font-size: 20px;
}


#contentSelection{
    margin-bottom: 25px;
}
.tabs{
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}
.tabs button{
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}
.tabs button:hover{
    background-color: #ddd;
}
.tabs button.active{
    background-color: #ccc;
}
.tabcontent{
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.imageContainer{
    position: relative;
    overflow: auto;
}
.slides{
    width: 45%;
    float: left;
}
.slide{
    display: none;
}
.slide:hover{
    
}
.cursor{
    cursor: pointer;
}
.prev, .next{
    cursor: pointer;
    position: absolute;
    width: auto;
    padding: 16px;
    margin-top: -61px;
    color: red;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
    background-color: rgba(0, 0, 0, 0.3);
}
.next{
    right: 21px;
    border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover{
    background-color: rgba(0, 0, 0, 0.8);
}
.numberText{
    color: red;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    margin-left: 20%;
    background-color: rgba(0, 0, 0, 0.3);
}
.captions{
    width: 100%;
}
.imageCaption{
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
    height: 64px;
}
.row{
    width: 55%;
    float: right;
    margin-top: 5px;
}
.row:after{
    content: "";
    display: table;
    clear: both;
}
.column{
    float: left;
    width: 24.5%;
    margin-left: 5px;
    height: 100px;
    overflow: hidden;
    border: 2px solid black;
    position: relative;
    text-align: center;
    color: red;
}
.imageLabel{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor:  pointer;
}
.displayedImage{
    opacity: 0.6;
}
.active, .displayedImage:hover{
    opacity: 1;
}


#footer{
    background-color: blueviolet;
    border: 2px solid black;
    margin-bottom: 25px;
    padding: 5px;
}