body{
    background-color: lightgray;
}

/* 1920 x 1080 */
#header{
    background-color: lightgray;
    margin-bottom: 25px;
    padding: 5px;
    font-size: 48px;
}
ul {
    list-style-type: none;
    float: right;
    height: 100%;
    margin: 0;
    padding: 0;
} 
li {
    float: left;
}  
li a {
    display: block;
    text-align: center;
    padding: 5px;
    margin-left: 5px;
    text-decoration: none;
    font-size: 32px;
    color: black;
} 
li a.active {
    background-color: silver;
    border: 2px dotted black;
}
li a:hover {
    background-color: #111;
    color: white;
}
#summary{
    padding: 5px;
    margin-top: 10px;
    font-size: 20px;
}


#contentSelection{
    margin-bottom: 25px;
}
.accordion{
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}
.active, .accoridon:hover{
    background-color: #ccc;
}
.panel{
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}


#footer{
    background-color: blueviolet;
    border: 2px solid black;
    margin-bottom: 25px;
    padding: 5px;
}