/* 1920 x 1080 */
#header{
    background-color: silver;
    border: 2px solid black;
    margin-bottom: 25px;
    padding: 5px;
    font-size: 48px;
}
#contentSelection{
    background-color: aquamarine;
    border: 2px solid black;
    margin-bottom: 25px;
    padding: 5px;
}
#footer{
    background-color: blueviolet;
    border: 2px solid black;
    margin-bottom: 25px;
    padding: 5px;
}