/* 1920 x 1080 */
#header{
    background-color: lightgray;
    border: 2px solid black;
    margin-bottom: 25px;
    padding: 5px;
    font-size: 48px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
} 
li {
    float: left;
}  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
} 
li a:hover {
    background-color: #111;
}

#contentSelection{
    background-color: aquamarine;
    border: 2px solid black;
    margin-bottom: 25px;
    padding: 5px;
}
#footer{
    background-color: blueviolet;
    border: 2px solid black;
    margin-bottom: 25px;
    padding: 5px;
}